#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
    border: none;
    
}

#renderCanvas:focus {
    outline: none;
}

.container {
    width: 100%;
    /*background-color: #fff;*/ 
    
    background-color: #acdef3;
    overflow: hidden;
}

.screen-whiteout {
	display: none;
    height: 1000px;
    width: 2000px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: white;
}

.screen-whiteout.is-visible {
    display: block;
    height: 1000px;
    width: 2000px;
    
}